$green-normal: #54e6af;
$green-light: #b3ffe2;
$blue-dark: #121725;
$blue-normal: #2c344b;
$blue-light: #5a668a;
$white-dark: #c2cbe5;
$white-normal: #ffffff;
$error: #fb3e3e;

.green-normal {
  color: $green-normal;
}

.green-light {
  color: $green-light;
}

.blue-dark {
  color: $blue-dark;
}

.blue-normal {
  color: $blue-normal;
}

.blue-light {
  color: $blue-light;
}

.white-dark {
  color: $white-dark;
}

.white-normal {
  color: $white-normal;
}

.error {
  color: $error;
}
